.joinsMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    padding: 0 4px 0 4px;
}

.joinsMenu ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.joinsMenu li {
    font-family: 'Strait', sans-serif;
    color: #8a398a;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: auto;
    padding: 6px;
    margin: 4px;
    background-color: #ffffff;
    border: 2px solid #2672b4;
}

.joinsMenu svg {
    margin-right: 4px;
    color: #1c3559;
}

.joinsMenu p {
    margin: 0;
}

.joinLabel {
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}


