.selectQueryContainer {
    display: flex;
    margin: 16px;
    flex: 1;
}
.formAndButtons {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.selectQueryForm {
    min-width: 350px;
    flex: 1;
    border: 2px solid #393675;
    background-color: #8796a1;
    border-radius: 6px 6px 0 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.query-error {
    background-color: #1c3559;
}

.buttonPanel {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    gap: 10px;
}

.optionsMenu {
    min-width: 200px;
    background-color: white;
    overflow: auto;
}

.elementContainer.from {
    position: relative;
}

.loaded {
    justify-content: start;
}

.elementContainer.from::before {
    content: "Click on element for update";
    position: absolute;
    top: 42px;
    left: 4px;
    background-color: #393675;
    color: white;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease;
    z-index: 1;
}

.elementContainer.from:hover::before {
    opacity: 1;
    visibility: visible;
}

.drag-area {
    background-color: rgb(44, 80, 138);
    font-size: 20px;
    border: 4px dashed rgba(4, 2, 31, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 350px;
    flex: 1;
}
