.tableContainer table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #041025;
    outline: none;
    border: 6px solid #195379;
}

.tableContainer th,
.tableContainer td {
    border: 2px solid #195379;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: min(1em, calc(100% - 8px));
}

.tableContainer th {
    background-color: #a0b3bd;
    font-weight: bold;
}

.tableContainer td {
    background-color: #becdd5;
}

.tableContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tableContainer::-webkit-scrollbar
{
    height: 14px;
    background-color: #F5F5F5;
}

.tableContainer::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    background-color: #393675;
    border: 4px solid #F5F5F5;
}

