@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Strait&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Rubik:wght@300&family=Strait&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
}

.homePage {
    width: 100%;
    background-image: url("../utils/images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: fit-content;
    overflow: auto;
    overflow-x: hidden;
    font-family: Raleway, sans-serif;
}

.homeHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    min-height: 80vh;
}

.homeHeader h1{
    font-size: 8em;
    font-family: Rubik, sans-serif;
    font-weight: lighter;
    color: #ffffff;
}

.homeHeader p {
    font-size: 2em;
    text-align: center;
    margin: 10px;
}

.homeSectionLeft p, .homeSectionRight p {
    color: #aaaaaa;
    font-size: 1.5em;
    margin: 10px;
}

.homeSectionLeft h2, .homeSectionRight h2 {
    font-size: 3em;
    text-shadow: 0 0 30px rgba(151, 65, 252, 0.8);
}

.homeSectionLeft, .homeSectionRight {
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s;
    margin-bottom: 150px;
    user-select: none;
}

.sqlHeader{
    background: linear-gradient(144deg,#8a398a, #615ea6 50%,#00DDEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.homeSectionLeft {
    margin-left: 200px;
    align-items: start;
    color: #82c2d0;

}

.homeSectionRight {
    margin-right: 200px;
    align-items: end;
    color: #e598e5;
}

.homeButton {
    align-items: center;
    background: linear-gradient(144deg,#8a398a, #615ea6 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.5) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 200px;
    height: 60px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.1s ease;
    border: hidden;
}

.homeButton:active,
.homeButton:hover {
    border: #ffffff 3px solid;
    color: aliceblue;
    font-size: 22px;
}
