.menu-bars {
    margin: 0;
    font-size: 2rem;
    background: none;
}

.sideContent {
    padding: 12px;
    background-color: black;
    width: 50%;
    height: 76vh;
    position: fixed;
    top: 50%;
    right: -40%;
    transition: 850ms;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.sideContent.active {
    right: 20px;
    transition: 350ms;
}

.container {
    position: absolute;
    top: 50px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    background-color: #3f3c3c;
    box-sizing: border-box;
}
.sideMenu-toggle {
    width: 100%;
    height: fit-content;
}

.editor {
    display: flex;
}
