body {
    overflow: hidden;
}

.sideContent {
    font-family: Roboto, sans-serif;
    border-radius: 4%;
    padding: 20px;
    min-width: 400px;
    background-color: #16273f;
    width: 40%;
    height: 70vh;
    position: relative;
    left: 94%;
    top: 40px;
    transition: 300ms;
}

.sideContent.active {
    left: 54%;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    color: #000000;
    height: calc(70vh - 60px);
}

.sideMenu-toggle {
    width: 100%;
    margin-bottom: 12px;
    height: fit-content;
}

.editor {
    display: flex;
    margin-bottom: 12px;
}

.menu-bars {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    background: none;
}
.editor-label {
    color: white;
    font-size: 30px;
    margin: 0 0 12px 0;
}

.menu-bars svg {
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(180deg);
}

@keyframes fadeInAndSlide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAndSlide {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

.container {
    animation: fadeInAndSlide 0.5s ease-in forwards;
}

.from-table {
    border-radius: 10px;
    background-color: #425064;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-grow: 1;
    position: relative;
}

.no-data-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: inherit;
}

