.sideContent {
    font-family: Roboto, sans-serif;
    border-radius: 4%;
    padding: 20px;
    min-width: 400px;
    background-color: #16273f;
    width: 40%;
    height: 76vh;
    position: fixed;
    top: 50%;
    right: -34%;
    transition: 850ms;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.sideContent.active {
    right: 20px;
    transition: 350ms;
}

.container {
    top: 50px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    color: #000000;
    box-sizing: border-box;
}

.sideMenu-toggle {
    width: 100%;
    height: fit-content;
}

.editor {
    display: flex;
    margin-bottom: 40px;
}

.menu-bars {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    background: none;
}
.editor-label {
    color: white;
    font-size: 30px;
    margin: 12px 0;
}

.menu-bars svg {
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(180deg);
}

@keyframes fadeInAndSlide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAndSlide {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

.container {
    animation: fadeInAndSlide 0.5s ease-in forwards;
}

.from-table {
    background-color: #425064;
    width: 100%;
    overflow: auto;
    height: 150px;
    position: relative;
}

.no-data-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

