.sqlReply {
    display: flex;
    height: calc(100vh - 60px);
}

.queryPlayground {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.selectForm {
    display: flex;
    background-color: #ffffff;
    flex-basis: 50%;
    max-height: 50%;
}

.resultTable {
    background-color: #494e56;
    padding: 16px;
    flex-basis: 50%;
}

.visualization {
    margin: 16px;
    border-radius: 16px;
    border: 2px solid #1c6ea4;;
    background-color: #393675;
    flex: 1;
}
