.sqlReply {
    display: flex;
    height: calc(100vh - 60px);
}

.queryPlayground {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.selectForm {
    display: flex;
    background-color: #ffffff;
    flex-basis: 50%;
    max-height: 50%;
}

.resultTable {
    background-color: #494e56;
    padding: 16px;
    flex-basis: 50%;
}

.visualization {
    background-color: #a46464;
    flex: 1;
    height: 100%;
}
