@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

.queryFormComponent {
    width: 60%;
}

.queryContainer {
    height: 180px;
    background-color: #becdd5;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.query-error {
    height: 30px;
    padding: 4px;
    overflow: auto;
    white-space: nowrap;
    background-color: rgba(208, 46, 46, 0.5);
    color: #becdd5;
}

.element {
    color: #8a398a;
    border: 2px solid #2672b4;
    cursor: pointer;
    font-family: 'Strait', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    width: fit-content;
    min-height: 20px;
    height: fit-content;
    min-width: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    max-width: 300px;
    overflow: auto;
}

.element.disabled {
    opacity: 40%;
}

select.element, option {
    height: 30px;
    color: black;
}

.placement {
    font-size: 14px;
    color: black;
    background-color: rgba(78, 126, 168, 0.45);
}

.plus_button {
    background-color: rgba(78, 126, 168, 0.45);
}

.plus_button.disabled {
    opacity: 100%;
    background-color: rgba(208, 46, 46, 0.5);
}

input.element {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
    resize: none;
}

input.element.as {
    width: 50px;
}

.button-panel {
    display: flex;
    overflow: clip;
    white-space: nowrap;
    justify-content: space-between;
}

.element::-webkit-scrollbar
{
    height: 8px;
    background-color: #F5F5F5;
}

.element::-webkit-scrollbar-thumb
{
    background-color: #393675;
    border: 2px solid #ffffff;
}

.query-error::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.query-error::-webkit-scrollbar
{
    height: 10px;
    background-color: #F5F5F5;
}

.query-error::-webkit-scrollbar-thumb
{
    background-color: #340808;
    border: 2px solid #ffffff;
}
