.popupTableContainer {
    max-width: 200px;
    position: absolute;
    overflow: auto;
    z-index: 2;
    border: 2px solid #195379;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.popupTableContainer table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #041025;
    outline: none;
}

.popupTableContainer th,
.popupTableContainer td {
    border: 2px solid #195379;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.popupTableContainer th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.popupTableContainer::-webkit-scrollbar
{
    height: 14px;
    background-color: #F5F5F5;
}

.popupTableContainer::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    background-color: #393675;
    border: 4px solid #F5F5F5;
}


